<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashzap</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js" integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<body>
    <h1>Hashzap</h1>

    <div id="lista_mensagens">
        <p></p>
    </div>

    <input type="text" id="usuario" placeholder="Usuario" required>
    <input type="text" id="mensagem" placeholder="Mensagem" required>

    <button id="botao">Enviar</button>

    <!--estrutura do codigo jquery -->
    <script type="text/javascript">
        $(document).ready(function(){


            // pega o tunel criado dentro do arquivo HTML
            var socket = io("192.168.15.59:5000");
            socket.on("connect", function(){
                console.log("usuario conectou")
            }); // garante que o usuario esta conectado no tunel

            socket.on("message", function(data){
                console.log("Disparou uma mensagem");
                $("#lista_mensagens").append($("<p>").text(data)); // envia a mensagem no tunel e todo mundo vê 

            }); // função que dispara a mensagem da pessoa, pega as informações que estao vindo

            $("#botao").on("click", function(){
                console.log("clicou no botao");
                socket.send($("#usuario").val() + ": " + $("#mensagem").val()); // ativa o evento da mensagem
                $("#mensagem").val(""); // modifica o valor (VAZIO)             // e envia a mensagem que vai ser adicionado no paragrafo
            }); 
            // QUANDO A PESSOA CLICKAR NO BOTAO, executa a função e cria uma divisoria de nova mensagem.
        })

    </script>

</body>
</html>